.parent {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr);
    grid-template-rows: 75px 35px 75px;
    grid-column-gap: 10px;
   // width: 90vw;
    overflow-x: auto;
    padding: 20px 0;

}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2, .div3, .div4, .div5, .div6, .div7 {
    padding: 45px 5px 5px 10px;
    border-left: 2px solid #3D5F47;
    color: #dbe8d3;
    font-weight: 800;
    position: relative;
    font-size: 20px;

    &:after {
        content: '';
        position: absolute;
        bottom: -28px;
        left: -12px;
        width: 22px;
        height: 22px;
        background: #fff;
        border-radius: 100%;
    }

    &:before {
        position: absolute;
        font-size: 14px;
        bottom: -24px;
        left: -4px;
        z-index: 10;
        color: #000;
    }
}

.div10, .div11, .div12, .div13, .div14, .div15 {
    padding: 10px 5px;
    border-left: 2px solid #3D5F47;
    color: #dbe8d3;
    font-size: 14px;
    line-height: 1.2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;

    &:before {
        content: '1';
    }
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;

    &:before {
        content: '2';
        left: -5px;
    }
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;

    &:before {
        content: '3';
        left: -5px;
    }
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;

    &:before {
        content: '4';
        left: -6px;
    }
}

.div6 {
    grid-area: 1 / 6 / 2 / 7;

    &:before {
        content: '5';
        left: -5px;
    }
}

.div7 {
    grid-area: 1 / 7 / 2 / 8;

    &:before {
        content: '6';
        left: -7px;
    }
}

.div8 {
    grid-area: 2 / 1 / 3 / 8;
    background: linear-gradient(111deg, rgba(61, 95, 71, 1) 0%, rgba(93, 180, 71, 1) 100%);
    border-radius: 10px;
}

.div9 {
    grid-area: 3 / 1 / 4 / 2;
}

.div10 {
    grid-area: 3 / 2 / 4 / 3;
}

.div11 {
    grid-area: 3 / 3 / 4 / 4;
}

.div12 {
    grid-area: 3 / 4 / 4 / 5;
}

.div13 {
    grid-area: 3 / 5 / 4 / 6;
}

.div14 {
    grid-area: 3 / 6 / 4 / 7;
}

.div15 {
    grid-area: 3 / 7 / 4 / 8;
}


//.waterfall-content {
//    position: relative;
//    width: 100%;
//    height: 9rem;
//    margin-top: 5rem;
//    min-width: 1025px;
//    overflow-x: scroll;
//    overflow-y: hidden;
//
//    .horizontal-line {
//        height: 3rem;
//        width: 100%;
//        background: linear-gradient(111deg, rgb(61, 95, 71) 0%, rgb(93, 180, 71) 100%);
//        border-radius: 10px;
//        border: none;
//        display: flex;
//        transform: translateY(100%);
//    }
//
//    .line-container {
//        position: absolute;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        height: 9rem;
//        display: flex;
//        align-items: center;
//        justify-content: space-around;
//        z-index: 1;
//        padding: 0 6% 0 2%;
//
//        .line {
//            box-sizing: border-box;
//            height: 100%;
//            width: 1px;
//            background-color: var(--primary-color);
//            border: none;
//            box-sizing: border-box;
//        }
//    }
//
//    .circle-container {
//        position: absolute;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        height: 3rem;
//        display: flex;
//        align-items: center;
//        justify-content: space-around;
//        padding: 0 6% 0 2%;
//        transform: translateY(100%);
//        z-index: 2;
//
//        .circle-wrapper {
//            position: relative;
//            display: flex;
//            flex-direction: column;
//            align-items: center;
//
//            .circle-title {
//                position: absolute;
//                bottom: 90%;
//                left: 55%;
//                font-size: 1rem;
//                font-weight: 500;
//                color: var(--light-color);
//                text-align: left;
//
//                @media (max-width: 768px) {
//                    font-size: 1.1rem;
//                }
//            }
//
//            .circle {
//                background-color: var(--light-color);
//                border-radius: 50%;
//                height: 2.15rem;
//                width: 2.15rem;
//                display: flex;
//                align-items: center;
//                justify-content: center;
//                text-align: center;
//                font-size: 1.5rem;
//                font-weight: 500;
//                color: var(--dark-color);
//                margin: 1.5rem 0;
//                z-index: 3;
//                line-height: 2.15rem;
//            }
//
//            .circle-text {
//                position: absolute;
//                top: 90%;
//                left: 55%;
//                font-size: 0.7rem;
//                font-weight: 400;
//                color: var(--light-color);
//                text-align: left;
//                width: 400%;
//
//                @media (max-width: 768px) {
//                    font-size: 0.9rem;
//                }
//            }
//        }
//    }
//}
//
//
